
<h1>The Posts Page</h1>

<!--This is the for-loop form-->
<% for(var i = 0; i < posts.length; i++){ %> 
    <li>
        <%= posts[i].title %> - <strong> <%= posts[i].author %> </strong> 
    </li>
<% } %>

<!--This is the forEach form-->
<% posts.forEach(function(post){ %>
    <li>
        <%= post.title %> - <strong> <%= post.author %> </strong> 
    </li>
<% }) %>


<%= posts %>







